<!DOCTYPE html>
<html>
<head>
  <title>Blue Hat Signup</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="../style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

<%= yield %>

</div>

</body>
</html>